
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: hsl(216, 38%, 5%);
}

.svg-icon circle {
  stroke: #4691f6;;
  stroke-width: 1;
}



/* inputed styles */
.find {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  background-color: white;
  border-radius: 60px;
  padding: 5px;
  margin: 1rem auto;
  border: 2px solid white;
}

.searchInput {
  width: 100%;
  border: none;
  background-color: transparent;
  border-radius: 0; /* Change "none" to "0" */
}
.searchInput:focus{
  outline: none;
}

body {
  background-color: white;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

.searchButton {
  border: none;
  background-color: white;
}

#results {
  margin-top: 20px;
  max-width: 100%; /* Removed "px" */
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}

img {
  max-width: 200px;
  height: auto;
}

.book img {
  max-width: 40%;
  margin-right: 10px;
}

.book h2 {
  flex: 1;
  margin: 0;
  text-align: center;
}

.book p {
  flex: 1;
  margin: 0;
  
}

.row {
  display: flex;
  flex-wrap: nowrap;  
  justify-content: space-between; 
  align-items: center; 
  margin: 0; 
  padding: 0; 
  border: none; 
}


.book {
  display: flex;
  align-items: centre;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff
  border: 1px solid #ccc;
  
  
}

.book-image img {
  max-width: 100%;
  height: auto;
  
}

.book-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
  margin: 5px ;
}

.book-authors {
  font-size: 15px;
  margin-bottom: 30px;
}

.book-publisher {
  font-size: 14px;
  font-style: italic;
  color: #666;
}
body {
  background-image: url("../assets/backgroundimg.jpg");
  background-size: cover;
}
